@using ArkivaDenis
@model ArkivaDenis.helperclass.Filters

@{
    ViewBag.Title = "Index";
}

<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />


    <script>
        $(function () {
            $("#fillimi").datepicker(
                {
                    endDate: '+0d',
                    clearBtn: true,
                    autoclose: true,
                    dateFormat: "dd.mm.yyyy"
                });
            $("#mbarimi").datepicker(
                {
                    maxDate: new Date('2018-3-26'),
                    clearBtn: true,
                    autoclose: true,
                    endDate: '+0d'
                });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>


<body>
    <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-dark bg-primary">
                <a href="@Url.Action("Index", "Home" )">  <h2 class="navbar-header"> Arkiva</h2></a>

                <div class="pull-right">

                    <ul class="nav navbar-nav">
                        <h5 style="color:white;">
                            Mirësevini @Session["CurrentUserName"]
                            @Html.ActionLink("Dilni", "Login", "Home", routeValues: null, htmlAttributes: new { @class = "btn navbar-btn btn-danger" })
                    </ul>
                </div>
            </nav>


        </div>
    </div>

    <div class="col-md-4">
        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                title="Shto dokument" disabled>
            <i class="fa fa-plus"></i>
        </button>
        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                title="Shiko dokument" disabled>
            <i class="fa fa-eye"></i>
        </button>
        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                title="Fshi dokumente" disabled>
            <i class="fa fa-trash"></i>
        </button>
        <button type="button" class="btn btn-primary" name="shkarko" onclick="shkarkoZip()" data-toggle="tooltip" data-placement="top"
                title="Shkarko dokumente" disabled>
            <i class="fa fa-download"></i>
        </button>

        @using (Html.BeginForm("Kerko", "Home", FormMethod.Post))
        {
            <div class="form-group">
                <label for="subjekt" style="font-size:18px;  font-weight:500; margin-top:15px">Subjekti</label>
                <input type="text" class="form-control" id="emersubjekt" name="Subjekte" value="@Model.Subjekte" style="width : 300px; margin-bottom:    15px " autocomplete="off">
            </div>
            <div class="form-group">
                <label for="nrinspek" style="font-size:18px;  font-weight:500 ">Inspektimi</label>
                <input type="text" class="form-control" autocomplete="off" value="@Model.Inspektime"  name="Inspektime" id="nrinspek" style="width : 300px;  margin-bottom:    15px">
            </div>
            <div class="form-group">
                <label for="llojdok" style="font-size:18px; font-weight:500">Lloj Dokumenti</label>
                <div class="form-group" style="width : 300px">
                    <select class="form-control" id="llojdok"  value="@Model.Lloj" name="Lloj" style=" margin-bottom:    15px">
                        <option value="">Zgjidhni llojin e dokumentit</option>
                        <option value="Fatura">Fatura</option>
                        <option value="Bilance">Bilance</option>
                        <option value="Raporte">Raporte</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="emerdok" style="font-size:18px; font-weight:500">Emër Dokumenti</label>
                <input type="text" class="form-control" name="Emer" value="@Model.Emer"  autocomplete="off" id="emerdok" style="width : 300px; margin-bottom:    15px ">
            </div>
            <div class="form-group">
                <label for="fushaindeks" style="font-size:18px; font-weight:500 ">Fusha Indeksimi</label>
                <input type="text" class="form-control" name="Indeksimet" id="fushaindeks" style="width : 300px; margin-bottom:15px " autocomplete="off">
            </div>

            <div class="form-group">
                <label for="vend" style="font-size:18px; font-weight:500">Vendndodhja</label>
                <div class="row" style="width : 330px">
                    <div class="col">
                        <input type="text" class="form-control" name="Zyra" placeholder="Zyra" value="@Model.Zyra" autocomplete="off"  style="width:80px">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="NrKutise" placeholder="Numri" value="@Model.NrKutise" autocomplete="off" style="width:80px">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="Rafti" value="@Model.Rafti" autocomplete="off" placeholder="Rafti" style="width:80px; margin-bottom:15px ">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="data" style="font-size:18px; font-weight:500"> Data </label>
                <div class="row justify-content-center" style="width : 320px">
                    <div class="col">
                        <input type="text" class="form-control" name="Data1" style="width:135px; margin-left:-2px" id="fillimi" placeholder="dd/mm/yyyy" autocomplete="off">
                    </div> -
                    <div class="col">
                        <input type="text" class="form-control" name="Data2" style="width:135px; margin-right: -5px;" id="mbarimi" placeholder="dd/mm/yyyy" autocomplete="off">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="flex-column-reverse">
                    <button class="btn btn-primary"  style=" margin-left:95px; margin-right:5px; margin-top:20px">Kërko</button>
                </div>
                <div class="flex-column-reverse">
                    @Html.ActionLink("Pastro", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-secondary",  @style="margin-top:20px"})
                </div>
            </div>

        }
    </div>



    <div class="vertical-row">

    </div>



    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Ngarkoni dokumenta</h4>
                    <button type="button" class="close" id="mbyllModal" data-dismiss="modal" onclick="mbyllModal()" data-toggle="tooltip" title="Mbyll">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Shto", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <label for="llojdok" style="font-size:18px; font-weight:500;">Lloji i dokumentit</label>
                        <div class="form-group form-inline" style="width:100%; ">
                            <div class="row" style="width:550px">
                                <div class="col" style="margin-right:75px;">
                                    <select class="form-control" name="Lloj" id="Lloj" style="width:300px; height:95%; font-size:14px;" required
                                            oninvalid="this.setCustomValidity('Zgjidhni llojin e dokumentit')"
                                            oninput="this.setCustomValidity('')">
                                        <option value="">Zgjidhni llojin e dokumentit</option>
                                        <option value="Fatura">Fatura</option>
                                        <option value="Bilance">Bilance</option>
                                        <option value="Raporte">Raporte</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                                    <label for="files" class="custom-input">
                                        <input style="position:absolute;  display:none" type="file" name="file" id="files" required multiple
                                               oninvalid="this.setCustomValidity('Zgjidhni dokument')"
                                               oninput="this.setCustomValidity('')">
                                        <span id="files-count" style=" width:30px; font-size:14px; ">Ngarko</span>
                                    </label>
                                    @if (TempData["UserMessage"] != null)
                                    {
                                        <script>
                                            Swal.fire{
                                                text: "@TempData["UserMessage"]"
                                                };
                                        </script>

                                    }
                                </div>

                            </div>
                        </div>

                        <label for="fusha" style="font-size:18px; font-weight:500">Fusha indeksimi</label>
                        <div class="form-group form-inline" style="width:100%; ">
                            <div class="row">
                                <div class="col" style="margin-right:180px;">
                                    <div class="form-group" style="width:300px;">
                                        <input type="text" data-role="tagsinput" autocomplete="off" style="width:300px; height:95%; font-size:14px;" id="fusha" required name="Indeksimet">
                                    </div>
                                </div>
                                <div class="col">
                                    <button class="btn btn-secondary" type="button">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>

                            </div>
                        </div>

                        <label for="vend" style="font-size:18px; font-weight:500">Vendndodhja</label>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <input type="text" name="Zyra" id="zyraUpload" class="form-control" placeholder="Zyra" autocomplete="off">
                                </div>
                                <div class="col">
                                    <input type="text" name="NrKutise" class="form-control" id="kutiaUpload" placeholder="Numri i kutisë" autocomplete="off">
                                </div>
                                <div class="col">
                                    <input type="text" name="Rafti" class="form-control" placeholder="Rafti" id="raftiUpload" style="margin-bottom:15px " autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="files-container" id="files-container">

                        </div>
                        <div class="modal-footer">

                            <button class="btn btn-success" type="submit" id="kerko" style=" margin-left:95px; margin-right:5px; margin-top:20px" onclick="kontrolloNgarkim()">Shto</button>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>


    <div id="previewModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detaje</h4>
                    <button type="button" class="close" id="mbyllModal" data-dismiss="modal" onclick="mbyllModal()" data-toggle="tooltip" title="Mbyll">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <label for="fushat" style="font-size:18px; font-weight:500">Fusha indeksimi</label>
                    <div class="form-group form-inline" style="width:100%; ">
                        <div class="row">
                            <div class="col" style="margin-right:180px;">
                                <div class="form-group" style="width:300px;">
                                    <div class="fushat">
                                        <input type="text" data-role="tagsinput" autocomplete="off" style="width:300px; height:95%;  font-size:14px;" id="fushat" required
                                               oninvalid="this.setCustomValidity('Plotësoni indeksimet')"
                                               oninput="this.setCustomValidity('')" name="Indeksimet">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <button class="btn btn-secondary" type="button">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <label for="vend" style="font-size:18px; font-weight:500; margin-bottom:0px; margin-top:10px">Vendndodhja</label>
                    <div class="form-group" style="margin-top:2px">
                        <div class="row">
                            <div class="col" style="width:160px;">
                                <label for="zyra">Zyra</label>
                                <input type="text" name="Zyra1" id="zyra" class="form-control" style="width:120px;" autocomplete="off">
                            </div>
                            <div class="col" style="width:160px">
                                <label for="kutia">Kutia</label>
                                <input type="text" name="NrKutise1" id="kutia" class="form-control" style="width:120px" autocomplete="off">
                            </div>
                            <div class="col" style="width:160px">
                                <label for="rafti">Rafti</label>
                                <input type="text" name="Rafti1" class="form-control" id="rafti" style="margin-bottom:15px; width:120px" autocomplete="off">
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit" id="kerko" style="margin-left:180px;" onclick="ModifikoPreview()">Modifiko</button>

                    </div>

                    <div id="showpdf">
                        <iframe id="myPdf"></iframe>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="djathtas">
        <div id="subjektet">

            <nav class="breadcrumb">
                <span class="breadcrumb-item active" style="font-size:18px; font-weight:500; color:darkslategrey;"> Rezulatet e kërkimit </span>
            </nav>

            <div class="folders" style="margin-left:20.5px;">

                @{int i = 0;}
                @if (ViewBag.Data != null)

                {
                    if (ViewBag.Tipi == "inspektime")
                    {
                        foreach (var item in ViewBag.Data)
                        {

                            <input type="checkbox" name="inspektime" class="form-check-inline" value="@item.Id" id="@item.Id" />
                            <img src="~/images/folder.png" style="height:96px; width:96px;" onclick="klikoFolderInspektim(@item.Id)" />
                            <label class="form-check-label" style="margin-right:20px; font-size:18px;" for="@item.Id"> @item.NrInspek </label>

                            i++;
                        }
                    }

                    else if (ViewBag.Tipi == "dokumenta")
                    {
                        foreach (var item in ViewBag.Data)
                        {
                            <input type="checkbox" name="dokumente" class="form-check-inline" value="@item.Id" id="@item.Id" />
                            <img src="~/images/doc.png" style="height:96px; width:96px;" />
                            <label class="form-check-label" style="margin-right:20px; font-size:18px;" for="@item.Id">@item.EmerDok  </label>
                            i++;
                        }
                    }
                    else if (ViewBag.Tipi == "subjekte")
                    {
                        foreach (var item in ViewBag.Data)
                        {
                            <input type="checkbox" name="subjekte" class="form-check-inline" value="@item.Id" id="@item.Id" />
                            <img src="~/images/folder.png" style="height:96px; width:96px;" onclick="klikoFolderSubjekt(@item.Id)" />
                            <label class="form-check-label" style="margin-right:20px; font-size:18px;" for="@item.Id">@item.EmerSubjekt  </label>
                            i++;
                        }
                    }
                }


                @if (i == 0)
                {
                    <h6> Nuk ka asnjë rezultat </h6>
                }

            </div>
            <script>
                $("input[name='subjekte']").on('change', function () {
                    $("button[name='shkarko']").prop('disabled', !$("input[name='subjekte']:checked").length);
                })
            </script>

            <script>
                $("input[name='subjekte']").on('change', function () {
                    $("input[name='subjekte']").not(this).prop('checked', false);
                });
            </script>

            <script>
                $("input[name='dokumente']").on('change', function () {
                    $("button[name='shkarko']").prop('disabled', !$("input[name='dokumente']:checked").length);
                })
            </script>

            <script>
                $("input[name='dokumente']").on('change', function () {
                    $("input[name='dokumente']").not(this).prop('checked', false);
                });
            </script>

            <script>
                $("input[name='inspektime']").on('change', function () {
                    $("button[name='shkarko']").prop('disabled', !$("input[name='inspektime']:checked").length);
                })
            </script>
            <script>
                $("input[name='inspektime']").on('change', function () {
                    $("input[name='inspektime']").not(this).prop('checked', false);
                });
            </script>


            <script>
                function shkarkoZip() {
                    if ($("input[name='subjekte']:checked")) {
                        var Subjekt_Id = $("input[name='subjekte']:checked").val();
                        $.ajax({
                            type: "GET",
                            url: '@Url.Action("ShkarkoSubjektSpecifik", "Home", new {Subjekt_Id=1 })',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify({
                                'Subjekt_Id': Subjekt_Id
                            }),
                            success: function () {
                                window.location.href = "@Url.RouteUrl(new { Controller = "Home", Action = "ShkarkoSubjektSpecifik" })/?Subjekt_Id=" + Subjekt_Id;
                            }
                        })
                    }
                    else if ($("input[name='inspektime']:checked")) {
                           var Inspektim_Id = $("input[name='inspektime']:checked").val();
                           $.ajax({
                               type: "GET",
                               url: '@Url.Action("ShkarkoInspektimSpecifk", "Home", new {Inspektim_Id = 6 })',
                               contentType: "application/json; charset=utf-8",
                               data: JSON.stringify({
                                   'Inspektim_Id': Inspektim_Id
                               }),
                               success: function () {
                                   window.location.href = "@Url.RouteUrl(new { Controller = "Home", Action = "ShkarkoInspektimSpecifk" })/?Inspektim_Id=" + Inspektim_Id;
                               }
                            })
                    }
                    else if ($("input[name='dokumente']:checked").val() == "on") {
                            var Dokumente_Id = $("input[name='dokumente']:checked").val();
                            $.ajax({
                                type: "GET",
                                url: "/Home/Shkarko?Dokumente_Id=" + Dokumente_Id,
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify({
                                    'Dokumente_Id': Dokumente_Id
                                })
                            }).done(function (data) {

                                if (data.fileName != "") {
                                    window.location.href = "@Url.RouteUrl(new { Controller = "Home", Action = "Shkarko" })/?Dokumente_Id=" + Dokumente_Id;
                                }
                            })
                    }
                }

            </script>
            <script type="text/javascript">
                function klikoFolderSubjekt(id) {
                    window.location.replace("/Home/Inspektime/" + id);
                }
            </script>
            <script type="text/javascript">
                function klikoFolderInspektim(id) {
                    window.location.replace("/Home/LlojDokumenti/" + id);
                }
            </script>


        </div>
    </div>



</body>
